//I don't have a particular script to push.
//It's just a way to create a folder on the web interface, without having access to the git tool to properly push it.
//This can be safely deleted once merged.
